asset/asset/asset
asset/asset/asset.map
asset/asset/asset.sym
asset/keymap/keymap
asset/keymap/keymap.map
asset/keymap/keymap.sym
asset/palette/palette
asset/palette/palette.map
asset/palette/palette.sym
asset/screen/screen
asset/screen/screen.map
asset/screen/screen.sym
asset/tile/tile
asset/tile/tile.map
asset/tile/tile.sym

asset/asset/asm/*.o
asset/keymap/asm/*.o
asset/palette/asm/*.o
asset/screen/asm/*.o
asset/tile/asm/*.o

lux/bios/bios.bin
lux/cmds/cd
lux/cmds/ls
lux/cmds/mkdir
lux/cmds/rm
lux/cmds/rmdir
lux/cmds/setclock
lux/cmds/version
lux/lib_1/lib_1.bin
lux/shell/lux

lux/bios/asm/*.o
lux/cmds/asm/*.o
lux/lib_1/asm/*.o
lux/shell/asm/*.o
lux/x16fs/*
sdcard_copy/*